<h2>Detil Persidangan</h2>

{{#each items.recordset}}
<ul class="list-group">
  <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">No Sidang</p>
          </div>
          <div class="col-9">
              <p>{{this.NoSidang}}</p>
          </div>
      </div>
  </li>
    <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Jenis</p>
          </div>
          <div class="col-9">
              <p>Sidang {{this.Jenis}}</p>
          </div>
      </div>
    </li>
    </li>
    <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Tempat</p>
          </div>
          <div class="col-9">
              <p>{{this.NamaPengadilan}}</p>
          </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Nomor Ruang</p>
          </div>
          <div class="col-9">
              <p>{{this.NoRuang}}</p>
          </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Tanggal</p>
          </div>
          <div class="col-9">
              <p>{{this.Tanggal}}</p>
          </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Agenda</p>
          </div>
          <div class="col-9">
              <p>{{this.Agenda}}</p>
          </div>
      </div>
    </li>
        <li class="list-group-item">
      <div class="row">
          <div class="col-3">
              <p class="fw-bold">Pimpinan Sidang</p>
          </div>
          <div class="col-9">
              <p>{{this.PimpinanSidang}}</p>
          </div>
      </div>
    </li>
</ul>
<div class="mt-4">
    <a href="/putusan/{{this.NoSidang}}" class="btn btn-primary">Lihat Putusan</a>
</div>
{{/each}}
